{% extends "admin.twig" %}

{% block customCss %}
<link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
{% endblock customCss %}

{% block contentHeader %}
    Proprietários
{% endblock contentHeader %}

{% block content %}
    <div class="container">
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="proprietarios">
                <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Identidade</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                {% for proprietario in data %}
                    <tr class="odd gradeX">
                        <td>{{ proprietario.cpf }}</td>
                        <td>{{ proprietario.nome }}</td>
                        <td>{{ proprietario.rg }}</td>
                        <td>{{ proprietario.telefone }}</td>
                        <td>{{ proprietario.email }}</td>
                        <td>
                            <a href="#" title="Adicionar Novo">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            <a href="#" title="Editar Registro">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="#" id="removerModal" data-target="#myModal" data-toggle="modal"
                               data-id="{{ proprietario.proprietario_codigo }}" title="Remover">
                                <i class="fa fa-times"></i>
                            </a>
                            <a href="/admin/proprietarios/{{ proprietario.proprietario_codigo }}" title="Ver Detalhes">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Confirmar exclusão</h4>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja remover esse registro?
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="proprietario_id" value="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="confirmar" class="btn btn-danger" data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
{% endblock content %}

{% block customJs %}
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
<script>
    $(document).ready(function() {
        $('#proprietarios').DataTable({
            responsive: true,
            language: {
                url: "../dist/js/ptbr.datatable.json"
            }
        });
        $('#removerModal').click(function () {
            document.getElementById("proprietario_id").value = $(this).attr('data-id');
        });
        $('#confirmar').click(function () {
            var id = document.getElementById("proprietario_id").value;
            $.ajax({
                method: "DELETE",
                url: "/admin/proprietarios/" + id
            }).done(function(res) {
                window.location.reload(false);
            });
        });
    });
</script>
{% endblock customJs %}